language: node_js
sudo: required
install: true
script:
- docker build -t tuchphon/htmltest .
- docker push tuchphon/htmltest
after_success:
- docker stop htmltest
- docker rm htmltest
- docker run -p 8088:80 -d tuchphon/htmltest:latest
before_install:
- docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
before_script:
- export DOCKER_HOST="$HOST_NAME"
service: docker
env:
  global:
  - secure: WWvgpJPyJocPF9gP7dl7KgpHBPjzjwzKPhC1tBOXmWQ1DV5VW350NWD+kW15qqmJzaqKNXLRALMLikSJv1Epw7GCYBsu6utQ2YpEeBgpfM0W8/tHZcDGSpU78CT86s+DH8vxYiSabbo1wbehkgKDups7cxcJSNN/yd+590y5EfIeV3tCTKzEbH+bIRlWdyWx6kjwT+spomToEIC1q0p94wQcoyDO1KTlu3Zrc7X0rO73U2APLg3RwP6oEX1o4Ilh/oJJXXoe6iLFzJcQV+pMr849Z20cdu0bwXL4zS4dDqeD90rRQt8ZzGP2F9++TBICgVR+ha7AKR/a39B/7lATqQ2SUiR2bhGYtpSaSM7Ft7OX6lwTaEYi9VGHQwNx9Rl7RgdqrFlaeQHkGmUa84BcNppC/nMJsnI/iXSau5Z3jg9Tuw2UVYvuEyDp5dyXYLP7bkOUaTurZg+CATGLyY5KeAPYRL47+7RwI7ciIwr7omzwv3+iib3OdqHufRs02RW63N4iNzK22E3zsCU8tecFOckK6ysSciiEtZY855les+eKHT/4+fmzx5b/Y7T2lm6bfxLypkQ8xT/thwkzpwa99ocTeFSEaPRAQg677zZlhqg9V5fe841FHYyFSrFL6hzzJR0jqEAu7v3S+ZIJy4cd95PdP41bgHC20A+7o+vblbE=
  - secure: XTh+ARmsucmUdHk7XpCvbRV6p8jbu3HTNLsLzgGLIQ3cceoQR9LHrstakxPX5qUCEWiLCA4GPeZIeIrk9amVY0P7QEumjQD/cpVp+luKnVcuP4KTyuAuS6jzmdAkrXTAXEMieQGzqTmJ1MiXDbbGPqs8EEE1HrFEy2A0rffKsgzZO8onE854xWndeOUlcLjml5z7x2RP4aLZyGP7z44j+XydbrMo9NAArYXHpe7TcM85jj5i5OaCwpPhgr0L5jOLWRqkDjrtOll2R8soBoutthKs3TEMoMY7oJ3IUMYBRhOLMeW1AUOmZknUYiLTXsrUAXpwkOurjJvpGpm6pbKrJuLH/fibOCOOmQXMWXA8ikh0QsFWbCgcu7wrSbGc5f+fwpBmPg5I1Tv8UyxHdxYUCJ1rsw3aOAbF+52ZmOdO8YAXU36swmNn+Rpgjg5BuvhWJfFrmR+92agvF0dm5o6Ve0dJLqqMTCSz2rhIemA4SNSXzL2+QkgW4X6LOBVRaC3s6frQa9f7NfOycquxp9H1h/n1FCqv+UHflqohpecFjecSV7ndXgLXxBEyCpuKriFuey+6N9bY8meSAezYMgkHKN31V5kg1mRUaShJPBTQmO4wIDz2FH2Y2diKmjyl9AIA4pmJSKE8b/XdSW20dlOwdl20S32pZ+igyk7cBng0mbQ=
  - secure: eT5bZnR8cPf9XVfNXUP4JcJRVGtiq4huRsOUzCYIYutzGUS5a+BruELpjH/3q5NjZYnTi5id9HbVcqNWbrB4nm0HdUCJPFmxRvi58mu1PnHMwzNjNheoMKA/orAoTJO2mQ/uV5B1zbzExK3rWIAq5F/vL0N50pKEiLmHI7LhUOS9XWHVLmXBaCMk+4Zc+4op058o3NJX2Q7dBv5ulBvYXo00pdsOud70EcNjTVbxSjVVFTRj0d/kKFPS9mkIIT5E1c1tg7xBORBEf64Xiv2jXSLAPNMNI3VRC817M0Ijmr1jvZ3sy6CVa8SVhBp3wytn7uUMm6Vc0YqQyEXiK4E6mUFN3JFzU1KL5gan1boCFDz4ORkG65tlJ2AoygEfd3q7ep/5jC3ibakqHHmPQEP8WTY/2R3qYw0RMp8G4ASsfLzx9SYWwHMySY/IaArIQT+eWoA9rAg8e+ZcIfm8JgUCf94aMZwgztTIF7QQAnrDDv3nIj5zsIpTnhzcrRyNXKYOhZlqFS6c8b9tAeFueykaGYutEjfqnv1etPgyySCfB/WntmX9u/yTv0O3DRbahKS/qzM3Ef7O4/+jXfbpuyxZBW4kpevH/hluxmFCo8sK6Ok7WMpmJSrhdgvAt7ZvgWa/Mq9250T5ixadiFoHgDDsC/8lGbiPGSK6NJq+M6MQYSc=
